@{
    ViewData["Title"] = "О Компании";
}

<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

<div class="about">
    <div class="aboutHead">О компании</div>
    <p>Республиканское унитарное предприятие электросвязи <strong>«Republic»</strong> – ведущая телекоммуникационная компания с многолетней историей, персонал которой обеспечивает и развивает важные для государства, общества, частных и корпоративных клиентов технологии связи. В своей деятельности предприятие делает ставку на активную политику расширения и улучшения услуг электросвязи. Компания динамично развивается и занимает лидирующую позицию на телекоммуникационном рынке Республики Беларусь, являясь крупнейшим оператором электросвязи на территории нашей страны.</p>
    <p><strong>«Republic»</strong> был создан 3 июля 1995 года как Республиканское государственное объединение. 1 августа 2004 года компания прошла преобразование в Республиканское унитарное предприятие электросвязи. Областные унитарные предприятия электросвязи, а также УП «Минская городская телефонная сеть», УП «Междугородная связь», УП «Минская телефонно-телеграфная станция» были реорганизованы в <strong>филиалы РУП «Republic» путем присоединения.</strong></p>
    <p>Сегодня компания <strong>«Republic»</strong> включает в себя 9 филиалов и 3 производства в составе головного структурного подразделения предприятия.</p>
    <strong>
        Филиалы «Republic»
    </strong>
    <ul class="change">
        <li class="change"> Брестский филиал</li>
        <li class="change"> Витебский филиал</li>
        <li class="change"> Гомельский филиал</li>
        <li class="change"> Гродненский филиал</li>
        <li class="change"> Могилевский филиал</li>
        <li class="change"> Минский филиал</li>
    </ul>
    <strong>
        Производства в составе головного структурного подразделения:
    </strong>
    <ul>
        <li class="change"> Международный центр коммутации</li>
        <li class="change"> Информационно-расчетный центр</li>
        <li class="change"> Производство Минская телефонно-телеграфная станция</li>
    </ul>
    <p><strong>Миссия компании «Republic»</strong> – объединять людей, предоставляя свободу общения и получения информации.</p>
    <p>Бренд-портфель компании складывается из бренда <strong>«Republic»</strong>, которым представлена голосовая связь, передача данных, хостинг и ряд других услуг, а также брендов <strong>byfly</strong> (высокоскоростной доступ в Интернет), <strong>ZALA</strong> (интерактивное, эфирное и Интернет- телевидение), <strong>ЯСНА</strong> (пакеты услуг), <strong>«ЯСНАе TV»</strong></p>

    <div class="aboutHead">
        byfly
        <img src="~/images/byfly.png" class="align-right" />
    </div>
    <p>byfly - это сильный и самостоятельный брэнд, в торговом портфеле которого собраны оптимальные предложения по доступу в Интернет для корпоративного и домашнего пользования. Сегодня byfly – это проводной и беспроводной доступ в сеть Интернет, обеспечивающий высокую скорость передачи данных, комфортное пользование услугой дома и на работе.</p>
    <p>В зависимости от технологии подключения абонентам торговой марки byfly доступны скорости от 3 до 200 Мбит/с и выше.</p>

    <div class="aboutHead">
        ZALA
        <img src="~/images/zala.png" class="align-right" />
    </div>
    <p>ZALA – это бренд, объединяющий интерактивное, эфирное и интернет-телевидение от РУП «Republic». Интерактивное ТВ позволяет управлять телеканалами – ставить на паузу, просматривать передачи, ранее вышедшие в эфир, знакомиться с программой и многое другое. Эфирное телевидение дает возможность смотреть телеканалы в цифровом качестве там, где раньше это было технически невозможно. А со SMART ZALA любимые программы доступны везде, где есть Интернет. Цифровое качество, широкий выбор каналов, наличие тематических пакетов разных жанров определили успех ZALA среди телезрителей.</p>
    
    <div class="aboutHead">
        ЯСНА
        <img src="~/images/yasna.png" class="align-right" />
    </div>
    <p>ЯСНА  - это бренд, в рамках которого абонентам предложены различные наборы из нескольких услуг, необходимые современному человеку для комфорта и полноценного общения. В рамках бренда физическим лицам оказываются наиболее востребованные услуги на базе сети абонентского доступа по технологии GPON (пассивные оптические сети). С использованием данной технологии абонентам доступно подключение к сети Интернет на скорости до 200 Мбит/с, современные услуги телевидения и другие сервисы, требующие высокой пропускной способности.</p>
    
    <div class="aboutHead">
        «ЯСНАе ТV»
        <img src="~/images/yasnae-tv.png" class="align-right" />
    </div>
    <p>«ЯСНАе ТV» – круглосуточный телевизионный канал РУП «Republic» в формате Full HD. В круг интересов телеканала входит продвижение брендов предприятия, знакомство аудитории с миром телекома, инноваций и современных технологий. «ЯСНАе ТV» предлагает контент для всей семьи – рейтинговые художественные фильмы, сериалы, спортивные трансляции, в том числе по киберспорту. В сетке вещания представлены и программы собственного производства. </p>
    
    <div class="aboutHead">
        Видеоконтроль
        <img src="~/images/videocontrol-logo.png" class="align-right"/>
    </div>
    <p>«Видеоконтроль» от РУП «Republic» – удобный способ обеспечения безопасности и удаленного контроля за любыми объектами, будь это многоквартирный жилой дом или промышленное предприятие. В рамках сервиса пользователь получает круглосуточный доступ к видео с камер в режиме реального времени или к записям из архива, который хранится на серверах «Republicа» в течение 30 суток. Услуга предлагается под ключ – от создания индивидуального проекта до полной технической реализации и эксплуатации.</p>
    
    <div class="aboutHead">
        GPON
    </div>
    <p>GPON-технология является разновидностью FTTH (оптика до дома) и предполагает доведение до квартиры абонента оптического волокна. Тем самым исключаются все активные промежуточные устройства (коммутаторы, маршрутизаторы), что, несомненно, повышает качество предоставления сервисов, а также создает предпосылки для наращивания скорости к абоненту до 1 Гбит/с и более. При этом абоненту устанавливается «умное» устройство ONU, которое имеет различные интерфейсы (Ethernet, FXS, WiFi) для предоставления всевозможных телекоммуникационных услуг – услуг телефонной связи на базе технологии IMS, интерактивного и интернет телевидения ZALA,  услуг доступа к сети интернет, охранной сигнализации, домофона, услуги «Умный дом».</p>
    <p>Один из главных индикаторов успеха и доверия к компании – это постоянно растущее количество абонентов. Миллионы абонентов доверяют РУП «Republic» как поставщику услуг связи. По плотности проникновения широкополосного доступа в сеть Интернет на 100 жителей Республика Беларусь вышла на среднеевропейские показатели.</p>
    <p>Воспользоваться сегодня точками доступа Wi-Fi от «Republic» можно в наиболее посещаемых местах общественного пользования большинства городов Беларуси. Большая часть наиболее востребованных хот-спотов находится в зданиях гостиниц, национальном аэропорте, спортивных комплексах и санаториях, на железнодорожных вокзалах, автовокзалах, кинотеатрах, торговых и выставочных центрах.</p>
    <p>Для удобства своих клиентов «Republic» содержит сеть сервисных центров на территории всей страны.</p>
    <p>В настоящее время РУП «Republic» обеспечивает передачу по каналам связи телевизионных и радиовещательных программ телерадиокомпаний, организовывает  подачу внеплановых телевизионных передач, «видеомостов» и «видеоперегонов» с мест проведения мероприятий и других событий,  осуществляет эфирную  трансляцию телевизионного и звукового вещания на  территории  республики.</p>

    <div class="aboutHead">
        Итоги работы в 2021 году
    </div>
    <p>В 2021 году «Republic» продолжал развивать современную инфраструктуру электросвязи. На данный момент построены и введены в эксплуатацию десятки тысяч километров волоконно-оптических линий связи. Весь городской многоквартирный сектор обеспечен технологией пассивных оптических сетей (GPON). Подходом по волоконно-оптическому кабелю обеспечены все населенные пункты, в которых насчитывается более 100 домохозяйств. «Оптика» также проложена к более 64% населенных пунктов с числом домохозяйств от 50 до 100.</p>
    <p>Масштабная модернизация сетей позволила существенно сократить «цифровое неравенство» и предоставить жителям республики практически равный доступ к услугам.</p>
    <p>За прошедший год построено и введено в эксплуатацию 7,9 тыс. км волоконно-оптических линий связи. Число абонентов сети GPON увеличилось почти на 100 тыс. и достигло 2,84 млн. Количество абонентов платформы IMS составило 3,7 млн, абонентов широкополосного доступа – 2,6 млн, абонентов телевидения ZALA – 2,5 млн.</p>
    <p>2021 год отмечен для «Republicа» новыми крупными проектами. В их числе: тестирование сети мобильной связи пятого поколения 5G; модернизация платформы цифрового интерактивного телевидения ZALA (IPTV); совместный с Министерством связи и информатизации Республики Беларусь запуск проекта «Мой город»; открытие направления ритейла.</p>
    <p>Компания предложила новые услуги корпоративным клиентам – «Облачная АТС» и «Создание и обслуживание локальных сетей».</p>
    <p>К услуге «Видеоконтроль» подключен юбилейный, 100-тысячный, абонент многоквартирного сектора.</p>
    <p>В 2021 году бренду «ЯСНА» исполнилось 5 лет. Он объединяет востребованные телекоммуникационные услуги в одном пакете. Линейка постоянно обновляется, в ней уже 17 вариантов пакетов. Их удобство заключается еще и в том, что не нужно платить за каждый сервис отдельно – все они включены в один договор.</p>
    <p>В свой юбилейный год бренд «ЯСНА» стал «Народной Маркой», заняв первое место в номинации «Пакет услуг интернет-провайдера» премии потребительского признания. Бренд ZALA победил в номинациях «Онлайн-телевидение» и «Интерактивное телевидение». Таким образом, «Republic» стал победителем премии «Народная Марка» сразу в трех номинациях!</p>
    <p>Одним из ярких результатов 2021 года стало вхождение телеканала «ЯСНАе ТV», учредителем которого является РУП «Republic», в ТОП-10 рейтинга зрительских предпочтений на платформе ZALA, объединяющей более 150 телеканалов.</p>
    <p>В 2021 году работа коллектива получила высокую государственную оценку. РУП «Republic» и Гродненский филиал предприятия занесены на Республиканскую доску Почета в числе организаций, достигших наилучших результатов социально-экономического развития в 2020 году. Республиканское унитарное предприятие «Republic» также занесено на доску Почета Центрального района столицы, а Витебский и Гомельский филиалы РУП «Republic» представлены на досках Почета Витебской и Гомельской областей.</p>
    <p>Предприятие успешно завершило 2021 год. Сегодня «Republic» аккумулирует колоссальный опыт, знания и уникальные компетенции. Многотысячный коллектив продолжает свою работу для того, чтобы самые передовые услуги связи были доступны в каждом уголке Беларуси, а наша страна занимала достойное место в современном цифровом мире.</p>
</div>
