@model bool
@{
    ViewData["Title"] = "Авторизация";
}

<link rel="stylesheet" href="~/css/auth/auth.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
<script src="https://kit.fontawesome.com/c6002521e1.js" crossorigin="anonymous"></script>

<body>
    @if (!Model)
    {
            <div class="center">
            <a href="https://google.com" rel="nofollow" target="_blank">
                <div class="method">
                    <i class="fa-brands fa-google fa-lg"></i>
                    <p>
                        Google Authorization
                    </p>
                </div>
            </a>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required name="PhoneNumber">
                    <span></span>
                    <label>Номер телефона</label>
                </div>
                <div class="pass">Забыли пароль?</div>
                <input type="submit" value="Вход">
                <div class="signup_link">
                    Нет аккаунта? <a href="#">Зарегистрируйся!</a>
                </div>
                 <div>@ViewData["Error"]</div>
            </form>
        </div>
    }
    else {
        <div>Вы уже находитесь в системе. Нажмите <a asp-controller="Home" asp-action="Logout">здесь</a>, чтобы выйти.</div>
    }
</body>