@{
    ViewData["Title"] = "Политика";
}

<link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

<div class="about">
    <div class="aboutHead">Политика РУП «Republic» в области качества</div>
    <p><strong>Стратегическая цель предприятия</strong> – обеспечение устойчивой конкурентоспособности и повышение экономической эффективности компании путём своевременного и полного удовлетворения спроса на современные и доступные услуги электросвязи.</p>
    <p><strong>Для достижения стратегической цели предприятие ставит перед собой следующие задачи:</strong></p>
    <ul class="change">
        <li class="change"> качественно оказывать услуги электросвязи;</li>
        <li class="change"> сохранить существенное положение компании на рынке электросвязи за счёт внедрения новых услуг, выгодных для потребителей тарифных планов, розничной продажи качественных товаров, применения эффективных рыночных стратегий;</li>
        <li class="change"> выполнять поиск новых технологий, непрерывно улучшать производственную инфраструктуру компании путём внедрения технологических инноваций и совершенствования бизнес-процессов;</li>
        <li class="change"> развивать и укреплять кадровый состав компании.</li>
    </ul>
    <p><strong>Принципы выполнения поставленных задач:</strong></p>
    <ul>
        <li class="change"> применение инструментов результативного менеджмента - системы менеджмента качества, процессного подхода с риск-ориентированным мышлением;</li>
        <li class="change"> соответствие применимым требованиям СТБ ISO 9001-2015 и постоянное улучшение системы менеджмента качества;</li>
        <li class="change"> прогнозирование тенденций рынка услуг и предпочтений потребителей, выполнение требований потребителей и повышение их удовлетворённости;</li>
        <li class="change"> создание привлекательных рабочих мест, развитие компетенций и обеспечение высокого уровня профессионализма персонала компании;</li>
        <li class="change"> лидерство руководителей всех уровней, привлечение персонала в процессы повышения качества, точное распределение ответственности и полномочий;</li>
        <li class="change"> признание личных заслуг сотрудников, вознаграждение за вклад в создание услуг высокого качества и совершенствование системы менеджмента качества;</li>
        <li class="change"> взаимовыгодное долгосрочное сотрудничество с партнёрами компании на национальном и международном уровнях.</li>
    </ul>
    <p><strong>Высшее руководство РУП «Republic» принимает обязательство неукоснительно следовать изложенным принципам, берет на себя ответственность за обеспечение эффективного управления предприятием, создание необходимых организационных условий, выделение финансовых, кадровых и материальных ресурсов.</strong></p>
    <p><strong>Генеральный директор Ю.Н.Петрученя</strong></p>
</div>