<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Republic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Beltelecom.styles.css" asp-append-version="true" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <nav class="navMenu">
            <ul class="ulMenu">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="active">Главная</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="active">Политика</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Tariffs" class="active">Тарифы</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About" class="active">О компании</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Authorization" class="active">Авторизация</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="layoutInfo">
        <div class="item">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" width="240" height="120"/></a>
        </div>
        <div class="callInfo">
            телефонный центр
            <br />
            обслуживания клиентов
        </div>
        <img src="~/images/call.png" width="48" height="48" />
        <div class="callNumber">
            123
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="thirdFooter">РУП «Republic». УНП 107771301</div>
        <div class="socials">
            <a href="https://twitter.com/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://vk.com/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-vk fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://www.facebook.com/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://ok.ru/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-odnoklassniki fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://www.youtube.com/channel/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
        <div class="socials">
            <a href="https://t.me/republicProvBy" class="social-icon" rel="nofollow" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
